@import "../../style/utils/var.scss";

.button {
  color: $color-black;
  background-color: $color-orange;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.3rem;
  font-weight: 600;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: lighten($color-orange, $amount: 10);
  }

  &:active {
    background-color: darken($color-orange, $amount: 10);
  }
}

.explain-button {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  font-size: 2.4rem;
  padding: 1.4rem 4rem;
}
