@import '../../style/utils/var.scss';

.button {
  color: $color-black;
  background-color: $color-orange;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.3rem;
  font-weight: 600;
  border: 0;
  cursor: pointer;

  &:active {
    background-color: darken($color-orange, $amount: 10);
  }
}
