@import '../../style/utils/var.scss';

form {
  display: flex;
  flex-direction: column;
  width: 100rem;

  gap: 2rem;

  input,
  textarea {
    background-color: lighten($color-black, $amount: 10);
    outline: none;
    border: 0;

    resize: none;

    font-family: inherit;
    font-size: 1.6rem;

    color: $color-white;
    padding: 1rem;

    border: 0.1rem solid transparent;
  }

  input:focus:invalid,
  textarea:focus:invalid {
    border: 0.1rem solid $color-error;
  }
}
