@import "../../style/utils/var.scss";

form {
  display: flex;
  flex-direction: column;
  width: 100rem;

  gap: 2rem;

  input,
  textarea {
    background-color: lighten($color-black, $amount: 10);
    outline: none;
    border: 0;

    resize: none;

    font-family: inherit;
    font-size: 1.6rem;

    color: $color-white;
    padding: 1rem;

    border: 0.1rem solid transparent;
  }

  input:focus:invalid,
  textarea:focus:invalid {
    border: 0.1rem solid $color-error;
  }

  input {
    height: 4.66rem;
    position: relative;
  }

  .inputButton {
    width: 5rem;
    height: 4.66rem;

    font-size: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 46rem;
  }
}
